<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" routerLink="quotes/all">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="quotes/star-wars">Star Wars</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="quotes/famous-people">Famous people</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="quotes/saying">Saying</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="quotes/humor">Humor</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="quotes/motivational">Motivational</a>
  </li>
</ul>
