<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" routerLink="all">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="star-wars">Star Wars</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="famous-people">Famous people</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="saying">Saying</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="humor">Humor</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="motivational">Motivational</a>
  </li>
</ul>
